img{
    width: 100%;
}

.continue {
    display: block;
    font-weight: bold;
    color: tomato;
    text-align: right;
    text-decoration: none;
}

article {
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}

article h2 {
    font-size: 1.5em; 
    margin: 0;
    }

    article p::first-letter {
        font-size: 3rem;
        color: lightgray;
        float: left; 
        line-height: 1;
        margin-right: 0.5rem; 
        margin-top: 0.1rem; 
        font-weight: bold;
       }
    