body {
    min-height: 100%;
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 1rem;
    border-left: 5px solid lightgray;
}

/* html {
   border-left: 5px solid lightgray;
} */

header, main, footer {
    padding: 1rem 2rem;
}

h1{
    color: tomato;
}

img{
    width: 100%;
}


.header-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between; 
   }

.header-nav a {
    color: lightgray;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between; 
   }

.footer-nav a {
    color: tomato;
}

.continue {
    display: block;
    font-weight: bold;
    color: tomato;
    text-align: right;
    text-decoration: none;

}

article {
    margin-bottom: 4rem;
    border-bottom: 1px solid lightgray;
    padding-bottom: 2rem;
}

article h2 {
    font-size: 1.5em; 
    }

article p::first-letter {
    font-size: 5rem;
    color: lightgray;
   }

footer p {
    color: lightgray;
}