
body {
  min-height: 100%;
  font-family: sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1rem;
  padding-left: 2rem;
  border-left: 5px solid lightgray;
}

header, main, footer {
  padding: 1rem 2rem; 
  box-sizing: border-box; 
}
